.intro {
  position: relative;
  background-image: url(../images/intro-bg.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.intro__dark {
  position : absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.intro__type {
  font-family: var(--font-code);
  font-size: 2.8em;
  font-weight: bold;
  display: inline-flex;
  color: white;
  gap: 0.32em;
}

.intro__type div{
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
}

.underscore {
  animation-name: blink;
  animation-duration: 350ms; /* 애니메이션 지속시간 (필수) */
  animation-direction: alternate;
  animation-iteration-count: infinite; /* 반복 횟수 */
}

@keyframes blink {
  from { opacity: 0;}
  to { opacity: 1;}
}

div[class^="intro__tilt"] {
  position: absolute;
  height: 25%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--color-main);
  clip-path: polygon(100% 90%, 100% 100%, 0 100%, 0 0);
}

div.intro__tilt--flip {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 90%);
  opacity: 0.5;
}


@media (max-width: 768px) {
  .intro {
    height: 100vh;
  }

  .intro__type {
    margin-top: 50%;
    flex-direction: column;
  }
}

@media (min-width: 769px) {
  .intro__type {
    margin-top : 170px;
  }
}