#about {
  grid-column : 1 / -1;
}

.section {
  padding: 64px 16px 64px 16px;
}

.section__tag {
  color: var(--color-sub);
  font-size: var(--font-size-tag);
}

.section__title {
  font-size: var(--font-size-title);
  font-weight: bold;
}

.about {
  display: inline-flex;
  gap: 20px;
  margin-top: 48px;
}

.about__card {
  width: 320px;
  background-color: var(--color-dark);
  border-radius: 12px;
  cursor: pointer;
  padding: 48px;
  color: white;
  font-size: var(--font-size-text);
  transition: all 0.4s;
}

.about__icon {
  width: 120px;
  opacity: 0.3;
}

.about__title {
  margin-top: 12px;
  font-size: var(--font-size-larger)
}
.about__title._1 {
  color: orange;
}
.about__title._2 {
  color: skyblue;
}
.about__title._3 {
  color: pink;
}
.about__text {
  margin-top: 1em;
}

@media (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
  }

  .about__card {
    width: 70vw;
  }
}

@media (min-width: 769px) {

  .about__card:hover {
    transform: scale(1.02);
  }

  .about__card:hover .about__icon{
    opacity: 1;
  }

  .about:hover .about__card:not(:hover){
    transform: scale(0.9);
  }
  .about:hover .about__card:not(:hover)::after{
    content: '';
    position: absolute;
    top: 0; left: 0;
    right: 0; bottom: 0;
    backdrop-filter: blur(2px);
  }
}